<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title> Módulo stock</title>
  </head>
  <body>
    <% if (fardo) { %>
    <div class="container mt-4">
        <h1> Vender </h1>
            <div class="card border-secondary">  
                <div class="card-header"> ¿Cúantos Fardos Se Vendieron? </div>
                <div class="card-body">
                    <form action="/venta" method="POST">
                        <input id="id" name="id" value="<%= fardo.id %>" hidden>
                        <input id="precio" name="precio" value="<%= fardo.precio %>" hidden>
                        <input id="cantog" name="cantog" value="<%= fardo.cantidad %>" hidden>
                        <input id="nombre" name="nombre" value="<%= fardo.nombre %>" hidden>
                        <input id="categoria" name="categoria" value="<%= fardo.categoria %>" hidden>
                        <input id="peso" name="peso" value="<%= fardo.peso %>" hidden>
                        <input id="volumen" name="volumen" value="<%= fardo.volumen %>" hidden>
                        
                        <input id="fecha" name="fecha" value="<%= finanzas.fecha %>" hidden>
                        <input id="dinerofardo" name="dinerofardo" value="<%= finanzas.dinerofardo %>" hidden>
                        <input id="totalmensual" name="totalmensual" value="<%= finanzas.totalmensual %>" hidden>
                        <input id="gananciadiaria" name="gananciadiaria" value="<%= finanzas.gananciadiaria %>" hidden>
                        <div class="mb-3">
                       
                          <div class="mb-3">
                            <label for="Nombre" class="form-label">Cantidad</label>
                            <input type="text" class="form-control" id="cantidad" name="cantidad" tabindex="1" value="<%= fardo.cantidad %>">
                          </div> 
                        </div>
                        <button type="submit" class="btn btn-primary" tabindex="5">Vender</button>  
                        <a href="/stock" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
    </div>
    <% } %>
  </body>
</html>
